# Dependency directories
node_modules/

# Environment variables (Crucial for security!)
.env
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

database.sqlite
